*{
  margin:0;
  padding:0;
  overflow-x: hidden;
}
body{
  font-family: 'Crimson Text';
  
}
.user_section{
  background:url("../src/userimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.user_form{
  /* box-shadow: 3px 1px 12px 8px rgba(117,112,112,0.75); */
  box-shadow: -1px 1px 13px 5px rgba(117,112,112,0.75);
  width:340px;
  height:80vh;
  margin:220px auto;
  padding:10px 15px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  border-radius:20px;
  background-color:white;
  
  
}
.activity{
  width:100%;
}
.gender{
  display:flex;
  align-items:center;
  border:1px solid black;
  width:100%;
}
.radiobuttons{
  border:1px solid black;
  margin-left:30px;
}
.diet_buttons{
  border:1px solid black;
  margin-left:15px;
}
.home{
  border:1px solid black;
  width:100%;
  margin:0 auto;
}
.hero_box{
  width:100%;
  height:auto;
  background: linear-gradient(to right, #1d976c, #93f9b9);
/* background-color:#769b6f; */
display:flex;
justify-content:space-between;
}
.title{
  border:1px solid black;
  width:45%;
}
.logo{
  height:60px;
  width:60px;
  margin-left:10px;
  margin-top:10px;
  border-radius:10px;
  background-color:white;
}
#crave{
  color:white;
  font-family: 'Lobster', 'cursive';
}
.title h1{
  color:rgb(68, 1, 68);
  font-size:25px;
  font-weight:700;
  margin:25px 0px 20px 10px;
  font-family: 'Lobster', 'cursive';
}
.title p{
  color:white;
  font-size: 16px;
  padding:5px;
}
.hero_image{
width:55%;
border:1px solid white;
/* background:url("../src/hero.png");
background-size:contain;
background-repeat:no-repeat; */
}
.hero_image img{
  width:100%;
  height:95%;
  border:1px solid black;
  margin-top:0px;
}
#link{
  text-decoration:none;
 
  margin-top:10px;
}
.mealplan{
  background:linear-gradient(rgba(0, 0, 0, 0.785),rgba(0, 0, 0, 0.785)),url("../src/healthy-breakfast.webp");
}
.mealplan_card{
  border:1px solid black;
  border-radius:10px;
  width:90%;
  margin:20px auto;
  
  
  /* background-repeat:no-repeat; */

}
.card_heading{
  color:white;
  margin-bottom:20px;
  font-size:30px;
  background-color:rgb(96, 96, 150);
  border-radius:10px;
  padding-left:10px;
  text-transform: capitalize;
}
.days{
  color:beige;
  margin:20px 0px;
  text-decoration: underline;
  font-size:25px;
  background-color:rgb(11, 94, 11);
  padding:5px;
}
.mealtime{
  color:orange;
  font-size:20px;

}
.dietname{
  color:white;
  font-size:16px;
  font-family:'Roboto';
  font-weight:400;
  margin-bottom:5px;
  letter-spacing:0.5px;
}
.diettime{
  color:white;
  margin-bottom:15px;
  font-size:16px;
  font-family:'Roboto';
  font-weight:400;

}
span{
  font-family:'Roboto';
  font-weight:300;
  font-size:25px;
}
.imp_notes{
  background-color:orange;
padding:5px 5px;
border-radius:10px;
margin-bottom:20px;

}
.imp_notes p{
  text-align:left;
  font-family:'Roboto';
  margin-bottom:5px;
  font-size:14px;
  letter-spacing:0.5px;
  font-weight:bold;
  
}
.imp_notes h2{
  margin:10px 0px; 
  color:rgb(67, 2, 2);
}
.back{
  border:1px solid white;
  margin:30px auto 10px auto;
  text-align: center;
}