*{
  margin:0;
  padding:0;
  overflow-x: hidden;
}
body{
  font-family: 'Crimson Text';
  
}
.user_section{
  background:linear-gradient(rgba(0, 0, 0, 0.499),rgba(0, 0, 0, 0.499)),url("../src/user.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.user_form{
  /* box-shadow: 3px 1px 12px 8px rgba(117,112,112,0.75); */
  box-shadow: -1px 1px 13px 5px rgba(117,112,112,0.75);
  width:340px;
  height:85vh;
  margin:220px auto;
  padding:10px 15px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  border-radius:20px;
  background-color:white;
  
  
}
.activity{
  width:100%;
}
.gender{
  display:flex;
  align-items:center; 
  width:100%;
}
.radiobuttons{

  margin-left:30px;
}
.diet_buttons{
  
  margin-left:15px;
}
.home{
  
  width:100%;
  margin:0 auto;
}
.hero_box{
  width:100%;
  height:auto;
  background: linear-gradient(to right, #1d976c, #93f9b9);
/* background-color:#769b6f; */
display:flex;
justify-content:space-between;
}
.title{
  
  width:45%;
}
.logo{
  height:60px;
  width:60px;
  margin-left:10px;
  margin-top:10px;
  border-radius:10px;
  background-color:white;
}
#crave{
  color:white;
  font-family: 'Lobster', 'cursive';
  font-size:25px;
  font-weight:500;
}
.title h1{
  color:rgb(68, 1, 68);
  font-size:25px;
  font-weight:700;
  margin:25px auto 20px auto;
  width:85%;
  font-family: 'Lobster', 'cursive';
}
.title p{
  color:white;
  font-size: 16px;
  padding:5px;
}
#healthy{
  text-transform:capitalize;
  margin:0px auto 30px 6%;
  background-color:red;
  font-family:'Roboto';
  font-weight:bold;
}
.hero_image{
width:55%;

}
.hero_image img{
  width:100%;
  height:95%;
  
  margin-top:0px;
}
#link{
  text-decoration:none;
 
  margin-top:10px;
}
.mealplan{
  background:linear-gradient(rgba(0, 0, 0, 0.785),rgba(0, 0, 0, 0.785)),url("../src/healthy-breakfast.webp");
}
.mealplan_card{
 
  border-radius:10px;
  width:350px;
  margin:20px auto;
}
.card_heading{
  color:white;
  margin-bottom:20px;
  font-size:30px;
  background:linear-gradient(to right, #e96443, #904e95);
  border-radius:10px;
  padding-left:10px;
  text-transform: capitalize;
}
.days{
  color:beige;
  margin:20px 0px;
  text-decoration: underline;
  font-size:25px;
  background-color:rgb(11, 94, 11);
  padding:10px;
  border-radius:15px;
}
.meal_detail{
  background-color:beige;
  border-radius:15px;
  margin-bottom:10px;
  padding:5px 10px;
}
.mealtime{
  color:red;
  font-size:20px;

}
.dietname{
  color:black;
  font-size:16px;
  font-family:'Roboto';
  font-weight:400;
  margin-bottom:5px;
  letter-spacing:0.5px;
}
.diettime{
  color:black;
  margin-bottom:15px;
  font-size:16px;
  font-family:'Roboto';
  font-weight:400;

}
#eat_good{
  font-family: 'Lobster', 'cursive';
  font-weight:300;
  font-size:25px;
  color:yellow;
}
.imp_notes{
  background:linear-gradient(to right, #e96443, #904e95);
padding:5px 10px;
border-radius:10px;
margin:0px auto 20px auto;
width:350px;
}
.imp_notes p{
  text-align:left;
  font-family:'Roboto';
  margin-bottom:5px;
  font-size:14px;
  letter-spacing:0.5px;
  font-weight:bold;
  color:beige;
}
.imp_notes h2{
  margin:10px 0px; 
  color:white;
  text-decoration: underline;
}
.back{
  margin:30px auto 10px auto;
  text-align: center;
}



@media(min-width:500px){
  .title h1{
    font-size:30px;
    
  }

  #crave{
    font-size:30px;
  }
  .mealplan_card{
    
    width:450px;
 
  }
  .imp_notes{
  width:450px;
  }
}

@media(min-width:600px){

  .title h1{
    font-size:40px;
    margin:35px auto 25px auto;
    
  }
  #crave{
    font-size:40px;
  }
  .user_form{
    width:400px;
  }
  .mealplan_card{
    
    width:550px;
 
  }
  .imp_notes{
  width:550px;
  }
}

@media(min-width:700px){

  .title h1{
    font-size:45px;
    margin:45px auto 30px auto;
    
  }
  #crave{
    font-size:45px;
  }
  .user_form{
    width:450px;
  }
  .mealplan_card{
    
    width:650px;
 
  }
  .imp_notes{
  width:650px;
  }
}

@media(min-width:751px){

  .title h1{
    font-size:50px;
    margin:50px auto 35px auto;
    
  }
  #crave{
    font-size:50px;
  }
  .user_form{
    width:450px;
  }
  #healthy{
   font-size:16px;
  }
}

@media(min-width:844px){

  .title h1{
    font-size:55px;
    margin:60px auto 40px auto;
    
  }
  #crave{
    font-size:55px;
  }
  .user_form{
    width:500px;
  }
}

@media(min-width:937px){

  .title h1{
    font-size:60px;
    margin:60px auto 40px auto;
    
  }
  #crave{
    font-size:60px;
  }
  .user_form{
    width:550px;
  }
  .logo{
    height:80px;
    width:80px;
  }
}

@media(min-width:1000px){

  .title h1{
   
    margin:70px auto 50px auto;
    
  }
  .mealplan_card{
    
    width:800px;
 
  }
  .imp_notes{
  width:800px;
  }
  
}

@media(min-width:1029px){

  .title h1{
    font-size:62px;
    width:80%;
  }
  #crave{
    font-size:62px;
  }
}
@media(min-width:1124px){

  .title h1{
    width:85%;
    font-size:55px;
    margin:140px auto 60px auto;
    
  }
  #crave{
    font-size:55px;
  }
  .user_form{
    width:600px;
  }
  
}
@media(min-width:1235px){

  .title h1{
    font-size:60px;
    margin:150px auto 50px auto;
    
  }
  
  #crave{
    font-size:60px;
  }
  .user_form{
    width:650px;
  }
  
}
@media(min-width:1330px){

  .title h1{
    font-size:65px;
    margin:160px auto 50px auto;
    
  }
  #crave{
    font-size:65px;
  }
  
  
}