*{
  margin:0;
  padding:0;
  overflow-x: hidden;
}
body{
  font-family: 'Crimson Text', serif;
  
}
section{
  background:url("")
}
.user_form{
  /* box-shadow: 3px 1px 12px 8px rgba(117,112,112,0.75); */
  box-shadow: -1px 1px 13px 5px rgba(117,112,112,0.75);
  width:80%;
  height:90vh;
  margin:40px auto;
  padding:10px 15px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  border-radius:20px;
  background-color:rgba(219, 215, 215, 0.4);
  
}
.activity{
  width:100%;
}
.gender{
  display:flex;
  align-items:center;
  border:1px solid black;
  width:100%;
}
.radiobuttons{
  border:1px solid black;
  margin-left:30px;
}
.diet_buttons{
  border:1px solid black;
  margin-left:15px;
}
.home{
  border:1px solid black;
  width:100%;
  margin:0 auto;
}
.hero_box{
  width:100%;
  height:auto;
  /* background: #B24592; 
background: linear-gradient(to right, #F15F79, #B24592);  */
/* background-color:#8e9b6f; */
background-color:#769b6f;
display:flex;
justify-content:space-between;
}
.title{
  border:1px solid black;
  width:40%;
  padding-left:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}
.title h1{
  text-transform:uppercase;
  color:rgb(239, 239, 112);
  font-size:25px;
}
.title p{
  color:white;
  font-size: 16px;
  padding:5px;
}
.hero_image{
width:60%;
border:1px solid white;
/* background:url("../src/hero.png");
background-size:contain;
background-repeat:no-repeat; */
}
.hero_image img{
  width:100%;
  height:auto;
  border:1px solid black;
  
}
#link{
  text-decoration:none;
  background-color:green;
  border-radius:10px;
  margin-top:10px;
}